.container{
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650px;
}
    
.item{
    background-color: lightpink;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.potato1{
    grid-column-start: 1;
    Grid-column-end: 3;
    background-color: gold;
}

.potato2{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.potato3{
    background-color:lightyellow;
}

.potato4{
    background-color:darkred;
}

.potato5{
    background-color:orchid
}

.potato6{
    background-color: darkblue;
}

.potato7{
    background-color: lightgreen;
}

.potato8{
    background-color:darkorange
}

.potato9{
    background-color:lightcoral
}

.potato10{
    background-color: darkmagenta;
}

.potato11{
    background-color: turquoise;
}

.potato12{
    background-color: darkgreen;
}